* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-blue: #024059;
  --color-yellow: #daaa00;
  --color-text-google: #5a5959;
  --color-grey: #aaaaaa;
  --color-dark-grey: #454444;
  --color-light-grey: #5a5959;

  --fonte-menu-texto: "gotham-light";
  --fonte-paciente-google: "gotham-thin";
  --fonte-titulos: "gothamBook";
}

@font-face {
  font-family: "gothamBook";
  src: url("../fonts/gotham/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gotham-thin";
  src: url("../fonts/gotham/Gotham-Thin.otf") format("opentype");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--fonte-menu-texto);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fonte-titulos);
}

#home,
#about,
#tratamentos,
#clinic,
#comentarios,
#container-location,
#contato {
  padding-top: 11rem;
}

main {
  width: 100%;
}

.main-content {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  height: 100vh;
}

header {
  position: fixed;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  background: var(--color-white);

  z-index: 9;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

.menu-desktop {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.1rem;
  font-size: 1.8rem;
}

.menu-desktop li a {
  text-decoration: none;

  font-family: var(--fonte-menu-texto);

  color: var(--color-blue);
  display: block;
  padding: 4rem 1rem;

  position: relative;
}

/* .menu-desktop li a:last-child {
  font-family: var(--fonte-titulos);
} */

.menu-desktop li a::after {
  content: "";
  position: absolute;
  bottom: 3rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--color-blue);
  transition: all 300ms ease-in-out;
}

.menu-desktop li a:hover::after {
  width: 70%;
  left: 15%;
}

.banner-principal {
  background-image: url("../img/banner-desktop01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5rem;
  margin-bottom: -5rem;
}

.headLine {
  padding-top: 5rem;
  color: var(--color-white);
  height: fit-content;
}

.headLine h1 {
  font-family: var(--fonte-titulos);
  font-size: 6.1rem;
  line-height: 120%;
  margin-bottom: 40px;
}

.headLine p {
  font-family: var(--fonte-menu-texto);
  font-size: 2.4rem;
  line-height: 120%;
  margin-bottom: 80px;
}

.headLine button {
  font-family: var(--fonte-menu-texto);
  font-size: 2.5rem;
  padding: 1.5rem 2rem;
  background: var(--color-yellow);
  border-radius: 1rem;
  text-transform: uppercase;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.headLine #whatsapp {
  position: fixed;
  right: 150px;
  bottom: 180px;
  width: 50px;
  height: 50px;
}

/*######################################################## ABOUT */

.about {
  background: var(--color-blue);
}

.about-content-desktop {
  padding: 15rem 0;
  display: flex;
  gap: 5rem;
  color: var(--color-white);
}

#about-column-left {
  width: 45%;
}

#about-column-right {
  width: 55%;
}

#about-column-left img {
  width: 100%;
  margin-bottom: 4rem;
}

#about-column-left p {
  font-size: 2.1rem;
  text-align: justify;
  line-height: 2.5rem;
}

#about-column-right h2 {
  font-size: 6rem;
}

#about-column-right h3 {
  font-size: 2rem;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

#about-column-right .item ul li {
  list-style: none;
  display: flex;
  line-height: 130%;
  padding-bottom: 25px;
  font-size: 2.5rem;
}

#about-column-right .item ul li span {
  font-size: 2.5rem;
}

#about-column-right .item ul li img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

#about-column-right .item ul li span strong {
  font-family: var(--fonte-titulos);
}
/*############################################# Slide Curriculo*/
.container {
  position: relative;
  width: 650px;
}

.gallery-wrapper {
  overflow-x: auto;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 60px;
}

.item {
  width: 650px;
  flex-shrink: 0;
}

.container button {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.arrow-left,
.arrow-right {
  position: absolute;
  bottom: -4rem;
  left: 45%;
}

.arrow-right {
  left: 55%;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.treatments {
  width: 100%;
  background: var(--color-white);
  padding: 5rem 0;
}

.treatments h2 {
  color: var(--color-blue);
  font-size: 5rem;
}

.treatments-content {
  display: flex;
  padding-top: 10rem;
  gap: 20px;
}

.treatments-content section {
  width: 25%;
}

.treatments-content section img {
  width: 8rem;
  padding-bottom: 2rem;
}

.treatments-content section h3 {
  font-family: var(--fonte-titulos);
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

.treatments-content section p {
  font-family: var(--fonte-menu-texto);
  font-size: 2rem;
  color: var(--color-grey);
}

.clinica {
  width: 100%;
  padding: 10rem 0;
  background: var(--color-grey);
  color: var(--color-white);
}

.clinic-content {
  display: flex;
}

.clinic-left {
  width: 40%;
}

.clinic-right {
  width: 60%;
}

.clinic-content section iframe {
  width: 70rem;
  height: 40rem;
}

.clinic-left h2 {
  font-size: 6rem;
  padding-bottom: 4rem;
}

.clinic-left p {
  font-size: 2.2rem;
  line-height: 130%;
  padding-bottom: 4rem;
}

.clinic-left button {
  font-family: var(--fonte-menu-texto);
  font-size: 2rem;
  padding: 1.5rem 2rem;
  background: var(--color-yellow);
  border-radius: 1rem;
  text-transform: uppercase;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

/*######################################## Slide Comentários*/

.box-comments {
  position: relative;
  width: 1300px;
}

.comments-wrapper {
  overflow-x: auto;
}

.comments {
  display: flex;
  flex-flow: row nowrap;
  gap: 6rem;
}

.commentsItem {
  display: flex;
}

.commentUnit {
  width: 43rem;
  flex-shrink: 0;
}

.leftC,
.rightC {
  position: absolute;
  bottom: -4rem;
  left: 45%;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.rightC {
  left: 55%;
}

.comments-wrapper::-webkit-scrollbar {
  display: none;
}

.comments-wrapper {
  -ms-overflow-style: none;

  scrollbar-width: none;
}
/*#########################################################*/
.comments-content {
  padding: 5rem 0;
  margin: 0 auto;
}

.comments-content h2 {
  text-align: center;
  font-family: var(--fonte-titulos);
  color: var(--color-blue);
  font-size: 5rem;
  padding-bottom: 5rem;
}

.comments-content p {
  padding-top: 5rem;
  font-size: 1.6;
  color: var(--color-grey);
}

.profile {
  display: flex;
  padding: 3rem 0;
}

.profile-google {
  margin-left: 2rem;
}

.profile-google h4 {
  font-family: var(--fonte-titulos);
  font-size: 2rem;
}

.commentsItem .profile-google p {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.profile-google img {
  width: 10.5rem;
}

.commentsItem p {
  font-size: 2rem;
  width: 85%;
  color: var(--color-text-google);
}

#container-location {
  width: 100%;
}

footer {
  width: 100%;
  height: fit-content;
  padding: 60px 0;
  background: var(--color-blue);
}

footer h2 {
  font-family: var(--fonte-titulos);
  font-size: 2rem;
  padding: 20px 0;
}

footer h3 {
  font-family: var(--fonte-titulos);
  font-size: 1.6rem;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

#footer-menu img {
  padding-bottom: 20px;
}

.footer-nav ul li {
  list-style: none;
  padding: 10px 0;
}

.footer-nav ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--fonte-menu-texto);
  cursor: pointer;
}

#footer-contato {
  color: var(--color-white);
}

#footer-location {
  color: var(--color-white);
}

#footer-location h2 {
  font-family: var(--fonte-titulos);
  padding: 20px 0;
}

#footer-location p {
  font-family: var(--fonte-menu-texto);
  padding: 20px 0;
}
