* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-blue: #024059;
  --color-yellow: #daaa00;
  --color-text-google: #5a5959;
  --color-grey: #aaaaaa;
  --color-dark-grey: #454444;
  --color-light-grey: #5a5959;

  --fonte-menu-texto: "gotham-light";
  --fonte-paciente-google: "gotham-thin";
  --fonte-titulos: "gothamBook";
  --fonte-bold: "gotham-bold";
  --fonte-button: "gotham-medium";
}

@font-face {
  font-family: "gothamBook";
  src: url("../fonts/gotham/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gotham-thin";
  src: url("../fonts/gotham/Gotham-Thin.otf") format("opentype");
}

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/gotham/GothamMedium.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--fonte-menu-texto);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fonte-titulos);
}

#home,
#about,
#tratamentos,
#clinic,
#comentarios,
#container-location,
#contato {
  padding-top: 11rem;
}

main {
  width: 100%;
}

.main-content {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  height: 100vh;
}

header {
  position: fixed;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  background: var(--color-white);

  z-index: 9;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

.menu-desktop {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.1rem;
  font-size: 1.8rem;
  font-family: var(--fonte-menu-texto);
}

.menu-desktop li a {
  text-decoration: none;

  color: var(--color-blue);
  display: block;
  padding: 4rem 1rem;

  position: relative;
}

.negrito {
  font-family: var(--fonte-bold);
}

/* .menu-desktop li a:last-child {
  font-family: var(--fonte-titulos);
} */

.menu-desktop li a::after {
  content: "";
  position: absolute;
  bottom: 3rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--color-blue);
  transition: all 300ms ease-in-out;
}

.menu-desktop li a:hover::after {
  width: 70%;
  left: 15%;
}

.banner {
  background-image: url("../img/banner-desktop01.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: -1rem;
  height: 90vh;

  position: relative;
}

.banner img {
  width: 100%;
}

.headLine {
  position: absolute;
  top: 90px;
  left: 160px;
  color: var(--color-white);
  height: fit-content;
}

.headLine h1 {
  font-family: var(--fonte-titulos);
  font-size: 7.6rem;
  line-height: 120%;
  margin-bottom: 30px;
}

.headLine p {
  font-family: var(--fonte-menu-texto);
  font-size: 3rem;
  line-height: 120%;
  margin-bottom: 6rem;
}

.headLine button {
  font-family: var(--fonte-button);
  font-size: 2.4rem;
  padding: 1.5rem 2.2rem;
  background: var(--color-yellow);
  border-radius: 1rem;
  text-transform: uppercase;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.headLine #whatsapp {
  position: fixed;
  right: 9rem;
  bottom: 13rem;
  width: 10rem;
  height: 10rem;
}

.headLine #whatsapp img {
  width: 10rem;
  height: 10rem;
}

/*######################################################## ABOUT */

.aboutMobile {
  display: none;
}

.blue {
  background: var(--color-blue);
}

.about-content-desktop {
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
  gap: 4rem;
  color: var(--color-white);
}

#about-column-left {
  width: 45%;
}

#about-column-right {
  width: 55%;
}

#about-column-left img {
  width: 100%;
  margin-bottom: 4rem;
}

#about-column-left p {
  font-size: 2.2rem;
  text-align: justify;
  line-height: 120%;
}

#about-column-right h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

#about-column-right h3 {
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

#about-column-right .slide ul li {
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 120%;
  padding-bottom: 4rem;
}

#about-column-right .slide ul li span {
  font-size: 2.2rem;
  line-height: 125%;
}

#about-column-right .slide ul li img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

#about-column-right .slide ul li span strong {
  font-family: var(--fonte-titulos);
}

/*############################################# ABOUT MOBILE */

.main-content-mobile h2 {
  text-align: center;
  font-size: 4.5rem;
  padding: 5rem 0;
}

.main-content-mobile img {
  width: 100%;
}

.main-content-mobile p {
  font-size: 2.3rem;
  text-align: justify;
  line-height: 120%;
  padding-bottom: 5rem;
}

#aboutColumnCurriculumMobile {
  width: 100%;
  padding-bottom: 5rem;
}

#aboutColumnCurriculumMobile h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

#aboutColumnCurriculumMobile h3 {
  font-size: 2.2rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

#aboutColumnCurriculumMobile .slideMobile ul li {
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 120%;
  padding-bottom: 4rem;
}

#aboutColumnCurriculumMobile .slideMobile ul li span {
  font-size: 2.2rem;
  line-height: 125%;
}

#aboutColumnCurriculumMobile .slideMobile ul li img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

#aboutColumnCurriculumMobile .slideMobile ul li span strong {
  font-family: var(--fonte-titulos);
}

/*############################################# Slide Curriculo*/
.slider,
.sliderMobile,
.sliderComments {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slides input,
.slidesMobile input,
.slidesComments input,
.slidesCommentsMobile input {
  display: none;
}

.slides,
.slidesMobile,
.slidesComments {
  display: flex;
  width: 200%;
}

.slidesCommentsMobile {
  display: flex;
  width: 300%;
}

.slide,
.slideMobile {
  width: 50%;
  position: relative;
  padding-bottom: 3rem;
}

.slideComments {
  width: 50%;
  display: flex;
  gap: 4rem;
  position: relative;
  padding-bottom: 3rem;
}

.slideCommentsMobile {
  display: flex;
  gap: 5rem;
  width: 33.3%;
  padding-bottom: 3rem;
}

.manualNavigation,
.manualNavigationMobile {
  position: absolute;
  bottom: 0;
  width: 35%;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.manualBtn,
.manualBtnMobile {
  border: 0.2rem solid var(--color-grey);
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.manual-btn-mobile {
  cursor: pointer;
}

.manualBtn:hover,
.manualBtnMobile:hover {
  background-color: var(--color-light-grey);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -50%;
}

#radio3:checked ~ .prime {
  margin-left: 0%;
}

#radio4:checked ~ .prime {
  margin-left: -50%;
}

#radio5:checked ~ .first {
  margin-left: 0%;
}

#radio6:checked ~ .first {
  margin-left: -50%;
}

#radio7:checked ~ .first {
  margin-left: 0%;
}

#radio8:checked ~ .first {
  margin-left: -33%;
}

#radio9:checked ~ .first {
  margin-left: -66%;
}

.navigationAuto,
.navigationAutoMobile {
  position: absolute;
  bottom: 0;
  width: 35%;
  margin-bottom: 0.82rem;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navigationAuto div,
.navigationAutoMobile div {
  border: 0.2rem solid var(--color-grey);
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

#radio1:checked ~ .navigationAuto .autoBtn1 {
  background-color: var(--color-grey);
}

#radio2:checked ~ .navigationAuto .autoBtn2 {
  background-color: var(--color-grey);
}

#radio3:checked ~ .navigationAutoMobile .autoBtn3 {
  background-color: var(--color-grey);
}

#radio4:checked ~ .navigationAutoMobile .autoBtn4 {
  background-color: var(--color-grey);
}

#radio5:checked ~ .navigationAuto .autoBtn5 {
  background-color: var(--color-grey);
}

#radio6:checked ~ .navigationAuto .autoBtn6 {
  background-color: var(--color-grey);
}

#radio7:checked ~ .navigationAuto .autoBtn7 {
  background-color: var(--color-grey);
}

#radio8:checked ~ .navigationAuto .autoBtn8 {
  background-color: var(--color-grey);
}

#radio9:checked ~ .navigationAuto .autoBtn9 {
  background-color: var(--color-grey);
}

/*######################################################## END ABOUT */

/*######################################################## START TREATMENTS */

.treatments {
  width: 100%;
  background: var(--color-white);
  padding: 5rem 0;
}

.treatments h2 {
  color: var(--color-blue);
  font-family: var(--fonte-titulos);
  font-size: 6rem;
}

.treatments-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10rem;
  gap: 20px;
}

.treatmentsDouble {
  display: flex;
  gap: 20px;
  width: 49%;
}

.treatments-content .treatmentsDouble section {
  width: 45%;
}

.treatments-content .treatmentsDouble section img {
  width: 8rem;
  padding-bottom: 2rem;
}

.treatments-content .treatmentsDouble section h3 {
  font-family: var(--fonte-titulos);
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

.treatments-content .treatmentsDouble section p {
  font-family: var(--fonte-menu-texto);
  font-size: 2rem;
  color: var(--color-grey);
}

/*######################################################## END TREATMENTS */

/*######################################################## START CLINIC */

.clinicaDesktop,
.clinicaMobile {
  width: 100%;
  padding-top: 16rem;
  padding-bottom: 10rem;
  background: var(--color-grey);
  color: var(--color-white);
}

.clinicaMobile {
  display: none;
}

.clinic-content {
  display: flex;
}

.clinic-left {
  width: 45%;
}

.clinic-right {
  width: 55%;
}

.clinic-content section iframe {
  width: 90%;
  height: 90%;
}

.clinic-left h2 {
  font-size: 6rem;
  padding-bottom: 4rem;
}

.clinic-left p {
  font-size: 2.3rem;
  line-height: 130%;
  padding-bottom: 6rem;
}

.clinic-left button {
  font-family: var(--fonte-button);
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  background: var(--color-yellow);
  border-radius: 1rem;
  text-transform: uppercase;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.clinic-right h4 {
  padding-top: 2rem;
  font-family: var(--fonte-menu-texto);
}

/*######################################################## END CLINIC */

/*######################################################## START COMMENTS */

.comments-content-desktop {
  padding: 5rem 0;
  margin: 0 auto;
}

.comments-content-mobile {
  max-width: 48rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  display: none;
}

.comments-content-desktop h2,
.comments-content-mobile h2 {
  text-align: center;
  font-family: var(--fonte-titulos);
  color: var(--color-blue);
  font-size: 5rem;
  padding-bottom: 5rem;
}

.comments-content-desktop hr,
.comments-content-mobile hr {
  width: 25rem;
  height: 0.2rem;
  color: var(--color-grey);
  background-color: var(--color-grey);
  margin: -2rem auto 4rem auto;
}

.comments-content-desktop p,
.comments-content-mobile p {
  font-size: 1.6;
  color: var(--color-grey);
  padding: 1rem 0;
}

.comments-content-mobile .commentUnit {
  max-width: 50%;
}

.commentUnit {
  max-width: 33%;
}

.commentUnit p {
  max-width: 80%;
  font-size: 2rem;
  line-height: 120%;
}

.comments-content-mobile .commentUnit p {
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 120%;
}

.profile {
  display: flex;
  padding: 2rem 0;
}

.profile-google {
  margin-left: 2rem;
}

.profile-google h4 {
  font-family: var(--fonte-titulos);
  font-size: 2rem;
}

.comments-content-mobile .profile-google h4 {
  font-size: 1.6rem;
}

.profile-google p {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.comments-content-mobile p {
  font-size: 1.4rem;
}

.profile-google img {
  width: 10.5rem;
}

.commentUnit {
  padding: auto 5rem;
}

/*######################################################## END COMMENTS */

#container-location {
  width: 100%;
}

/*######################################################## START FOOTER */

footer {
  width: 100%;
  padding: 60px 0;
  background: var(--color-blue);
}

footer h2 {
  font-family: var(--fonte-bold);
  font-size: 2.5rem;
  padding: 20px 0;
}

footer h3 {
  font-family: var(--fonte-titulos);
  font-size: 1.6rem;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

#footer-menu img {
  padding-bottom: 20px;
}

.footer-nav ul li {
  list-style: none;
  padding: 10px 0;
}

.footer-nav ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--fonte-menu-texto);
  cursor: pointer;
}

#footer-contato {
  color: var(--color-white);
}

#footer-location {
  color: var(--color-white);
}

#footer-location h2 {
  font-family: var(--fonte-titulos);
  padding: 20px 0;
}

#footer-location p {
  font-family: var(--fonte-menu-texto);
  padding: 20px 0;
}

/*######################################################## END FOOTER */

/*######################################################## START MEDIA QUERYS */

@media (max-width: 1400px) {
  .main-content {
    max-width: 1200px;
  }
  .container {
    width: 100%;
  }

  .banner {
    background-image: url("../img/banner-desktop01.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: -1rem;
    height: 90vh;

    position: relative;
  }
  .headLine h1 {
    font-size: 5.2rem;
  }
  .headLine p {
    font-size: 2rem;
  }

  .headLine button {
    font-family: var(--fonte-button);
    font-size: 1.6rem;
    padding: 1.5rem 2.2rem;
    background: var(--color-yellow);
    border-radius: 1rem;
    text-transform: uppercase;
    border: none;
    color: var(--color-white);
    cursor: pointer;
  }

  .item {
    width: 90%;
  }

  #about-column-right h2 {
    font-size: 5.5rem;
  }

  #about-column-right .item ul li span {
    font-size: 2rem;
    line-height: 120%;
  }
  #about-column-right .item ul li img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .box-comments {
    padding-left: 5rem;
  }

  .commentUnit {
    width: 38rem;
    flex-shrink: 0;
  }

  footer {
    padding-left: 5rem;
  }
}

@media (max-width: 1050px) {
  /* .main-content {
    max-width: 800px;
  }

  header {
    bottom: 0;
  }

  .menu {
    padding-top: 5rem;
    flex-direction: column;
  }

  .menu-desktop {
    flex-direction: column;
  }*/

  .banner {
    background-image: url("../img/banner-mobile01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: -1rem;
    height: 80rem;

    position: relative;
  }

  .main-content-mobile {
    max-width: 48rem;

    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--color-white);
  }

  .aboutDesktop {
    display: none;
  }
  .aboutMobile {
    display: block;
  }

  .treatments {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .treatments-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .treatmentsDouble {
    width: 100%;
  }
  .treatmentsDouble section {
    width: 100%;
  }

  .treatments-content .treatmentsDouble section h3 {
    font-size: 2rem;
  }

  .treatments-content .treatmentsDouble section p {
    font-size: 1.6rem;
  }

  footer {
    display: flex;
    align-items: center;
  }

  #contato {
    padding-top: 15rem;
  }

  .footer-content {
    flex-direction: column;
  }

  .clinicaDesktop {
    display: none;
  }

  .clinicaMobile {
    display: flex;
    height: 80rem;
  }

  .clinic-content-mobile {
    max-width: 48rem;
    width: 48rem;
    flex-direction: column;
    margin: 0 auto;
  }

  .clinic-content-mobile iframe {
    width: 48rem;
    height: 27rem;
  }

  .clinic-content-mobile h2 {
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  .clinic-content-mobile p {
    font-size: 2.3rem;
    line-height: 130%;
    padding-bottom: 5rem;
  }

  .clinic-content-mobile h4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: var(--fonte-menu-texto);
  }

  .clinic-content-mobile button {
    font-family: var(--fonte-button);
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    background: var(--color-yellow);
    border-radius: 1rem;
    text-transform: uppercase;
    border: none;
    color: var(--color-white);
    cursor: pointer;
  }

  .clinic-content-mobile a {
    text-decoration: none;
    color: var(--color-white);
  }

  .comments-content-desktop {
    display: none;
  }

  .comments-content-mobile {
    display: block;
  }

  .slideCommentsMobile {
    max-width: 48rem;
  }
}

/* .clinic-content section iframe {
  width: 90%;
  height: 90%;
}

.clinic-left h2 {
  font-size: 6rem;
  padding-bottom: 4rem;
}

.clinic-left p {
  font-size: 2.3rem;
  line-height: 130%;
  padding-bottom: 6rem;
}

.clinic-left button {
  font-family: var(--fonte-button);
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  background: var(--color-yellow);
  border-radius: 1rem;
  text-transform: uppercase;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.clinic-right h4 {
  padding-top: 2rem;
  font-family: var(--fonte-menu-texto);
} */
