* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContentMobile {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6rem;
}

/* .commentsContentMobile {
  display: block;
}

.commentsContentMobile h2 {
  text-align: center;
  font-family: var(--fonte-titulos);
  color: var(--color-blue);
  font-size: 3.5rem;
  line-height: 5rem;
  padding-bottom: 5rem;
}

.commentsContentMobile hr {
  width: 14rem;
  height: 0.2rem;
  color: var(--color-grey);
  background-color: var(--color-grey);
  margin: -2rem auto 4rem auto;
}

.commentsContentMobile p {
  font-size: 1.4;
  color: var(--color-grey);
  padding: 1rem 0;
}

.sliderCommentsMobile {
  width: 115rem;
  justify-content: space-between;
}

.slidesCommentsMobile {
  display: flex;
  gap: 4rem;
  width: 36.5rem;
}

.slideCommentsMobile {
  width: 18rem;
  display: flex;
  gap: 2rem;
}

.commentUnitMobile {
  width: 50%;
}

.commentUnitMobile p {
  width: 100%;
  font-size: 1.5rem;
  line-height: 120%;
}

.profile {
  width: 22rem;
  display: flex;
  padding: 2rem 0;
}

.iconProfileGoogle img {
  width: 9rem;
}

.profileGoogle {
  margin-left: 2rem;
}

.profileGoogle h4 {
  font-family: var(--fonte-titulos);
  font-size: 2rem;
}

.comments-content-mobile .profileGoogle h4 {
  font-size: 1.6rem;
}

.profileGoogle p {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.profileGoogle img {
  width: 10.5rem;
} */
